{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="services_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 13rem; height: auto">
          <img src="{% static 'images/no-foto-m.png' %}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px; height: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title">Курманов Александр Геннадьевич</h5>
            <p class="card-text">Главный врач</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 13rem;">
          <img src="{% static 'images/no-foto-m.png' %}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px; height: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title">Бирюкова Ольга Валерьевна</h5>
            <p class="card-text">Врач-рентгенолог МРТ</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 13rem;">
          <img src="{% static 'images/no-foto-m.png' %}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px; height: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title">Корчагина Евгения Андреевна</h5>
            <p class="card-text">Врач-рентгенолог МРТ</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 13rem;">
          <img src="{% static 'images/no-foto-m.png' %}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px; height: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title">Левашкина Ирина Михайловна</h5>
            <p class="card-text">Врач-рентгенолог МРТ,кандидат медицинских наук</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 13rem;">
          <img src="{% static 'images/no-foto-m.png' %}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px; height: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title">Чуркина Дарья Николаевна</h5>
            <p class="card-text">Врач-рентгенолог МРТ</p>
            <br>
            <br>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 13rem;">
          <img src="{% static 'images/no-foto-m.png' %}" class="card-img-top" alt="...">
          <div class="card-body" style="padding: 10px; height: 10px;"></div>
          <div class="card-body">
            <h5 class="card-title">Философова Екатерина Владиславовна</h5>
            <p class="card-text">Врач ультразвуковой диагностики, кандидат медицинских наук</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="doctor_section layout_padding">
</div>

{% endblock content %}